<% provide(:title, t(".home")) %>
<% if  logged_in? && current_user.admin? %>
  <div class="container">
    <ul class="books">
      <div class="col-md-3">
        <div class="card mb-3">
          <%= link_to image_tag("bookstack.png",
            alt: "Rails logo"), admin_books_path %>
          <div class="card-body">
            <h3 class="card-title"><%= link_to t(".books"), admin_books_path %></h3>
            <p class="card-text">
              <small class="text-muted"><%= t(".all_book") %></small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <%= link_to image_tag("bookstack.png",
            alt: "Rails logo"), admin_categories_path %>
          <div class="card-body">
            <h3 class="card-title"><%= link_to t(".categories"), admin_categories_path %></h3>
            <p class="card-text">
              <small class="text-muted"><%= t(".all_category") %></small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <%= link_to image_tag("bookstack.png",
            alt: "Rails logo"), users_path %>
          <div class="card-body">
            <h3 class="card-title"><%= link_to t(".users"), users_path %></h3>
            <p class="card-text">
              <small class="text-muted"><%= t(".all_user") %></small>
            </p>
          </div>
        </div>
      </div>
    </ul>
  </div>
<% else %>
  <div class="container">
  <div class="center jumbotron">
    <h1><%= t(".heading1") %></h1>
    <h2>
      <%= t(".heading2") %>
      <a href="https://www.railstutorial.org/"><%= t(".a") %></a>
      <%= t(".last_heading2") %>
    </h2>
    <% if logged_in? == false %>
      <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
  <h3><%= link_to t(".category"), categories_path %></h3>
  <ul class="books">
    <%= render @categories %>
  </ul>
  <h3><%= link_to t(".book"), books_path %></h3>
  <ul class="books">
    <%= render @books %>
  </ul>
</div>
<% end %>
