<% provide(:title, t(".books")) %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> <%= t(".book_table") %>
      </div>
      <div class="panel">
        <div class="row">
          <div class="col-md-2">
            <%= link_to t(".create"), new_admin_book_path,
              class: "btn btn-md btn-danger form-control" %>
          </div>
          <div class="col-md-2">
            <%= link_to t(".download"), admin_books_path(format: "csv",
              search: params[:search]), class: "btn btn-md btn-success form-control" %>
          </div>
          <div class="col-md-8">
            <%= form_tag admin_books_path, method: :GET do %>
              <div class="active-cyan-4 mb-4">
                <%= text_field_tag :search, params[:search], class: "form-control",
                  placeholder: t(".search") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" id="example">
          <thead>
            <tr>
              <th><%= t ".image" %></th>
              <th><%= t ".name" %></th>
              <th><%= t ".author" %></th>
              <th><%= t ".category" %></th>
              <th><%= t ".publisher" %></th>
              <th><%= t ".pages" %></th>
              <th><%= t ".quantity" %></th>
              <th colspan="2" ><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @books %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row"><div class="text-center"><%= will_paginate %></div></div>
