<div class="row comment">
  <div class= "col-md-12">
    <span class="name"><%= comment.user_name %></span>
    <span><%= comment.content %></span>
  </div>
  <div class="col-md-10 date"><%= time_ago_in_words(comment.created_at) %></div>
  <div class="col-md-2 date">
    <% if logged_in? && comment?(comment) %>
      <%= link_to edit_comment_path(comment_id: comment.id) do %>
        <i class="fa fa-pencil"></i>
        <%= t ".edit" %>
      <% end %> |
      <%= link_to comment_path(comment_id: comment.id), method: :delete,
        data: {confirm: t(".sure")} do %>
        <i class="fa fa-trash"> </i>
        <%= t ".delete" %>
      <% end %>
    <% end %>
  </div>
</div>
