<tr>
  <td><%= gravatar_for user, size: Settings.user.size %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.address %></td>
  <td><span class="label label-success"><%= user.admin %></span></td>
  <td><%= link_to t(".delete"), user, method: :delete, data: { confirm: t(".sure") } %></td>
</tr>
