<p><i><%= t ".status" %> <b><%= @request.status %></b></i></p>
<p><i><%= t ".name" %> <b><%= @request.book_name %></b></i></p>
<p><i><%= t ".quantity" %> <b><%= @request.quantity %></b></i></p>
<p><i><%= t ".from_date" %> <b><%= l @request.from_date, format: :long %></b></i></p>
<p><i><%= t ".to_date" %> <b><%= l @request.to_date, format: :long %></b></i></p>
<p><q><%= t ".check" %></q></p>
