<div class="col-md-2">
  <div class="card mb-3">
    <%= link_to image_tag("bookstack.png",
      alt: "Rails logo"), book %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to book.name, book %></h5>
      <p class="card-text"><%= book.author_name %></p>
      <%= link_to t(".cart"), request_path(book) %>
      <p class="card-text">
        <small class="text-muted"><%= t(".update") %> <%= book.year %></small>
      </p>
    </div>
  </div>
</div>
