<%= provide(:title, @book.name) %>
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <%= @book.name %><br/>
    <small><%= @book.author_name%></small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-4">
      <%= link_to image_tag("bookstack.png", alt: "Rails logo", width: "350") %>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Book Details</h3>
      <ul>
        <li><%= t(".name") %> <%= @book.name%></li>
        <li><%= t(".category") %> <%= @book.category_name%></li>
        <li><%= t(".author") %> <%= @book.author_name%></li>
        <li><%= t(".public") %> <%= @book.publisher_name%></li>
        <li><%= t(".year") %> <%= @book.year %></li>
        <li><%= t(".pages") %> <%= @book.number_of_pages %></li>
        <li><%= t(".quantity") %> <%= @book.quantity %></li>
        <li><%= t(".update") %> <%= @book.created_at %></li>
      </ul>
      <%= link_to request_path(@book) do %>
        <button class="btn btn-success btn-block" type="button">
          <%= t(".cart") %>
        </button>
      <% end %>
      <% if logged_in? %>
        <% if like? @book %>
          <%= link_to like_path(book_id: @book.id), method: :delete,
            data: {confirm: t(".sure")} do %>
            <button type="button" class="btn btn-danger btn-block">
              <%= t(".unlike") %>
            </button>
          <% end %>
        <% else %>
          <%= render "likes/like" %>
        <% end %>
      <% end %>
      <button type="button" class="btn btn-primary btn-block">
        <%= t(".follow") %>
      </button>
      <i><b><%= @book.likes.count %></b> <%= t ".likes" %></i>
    </div>

    <div class="col-md-4">
      <h3 class="my-3"><%= t(".about") %></h3>
      <p><%= @book.content %></p>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="my-3"><%= t(".comment_book") %></h3>
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4"><%= t(".another") %></h3>

  <div class="row">
    <% 4.times do %>
      <div class="col-md-3 col-sm-6 mb-4">
        <%= link_to image_tag("bookstack.png", alt: "Rails logo",
          width: "280", height: "170") %>
      </div>
    <% end %>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
