<% provide(:title, t(".category")) %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> <%= t(".book_table") %>
      </div>
      <div class="panel">
        <%= link_to t(".create"), new_admin_category_path, class: "btn btn-md btn-warning form-control" %>
        <%= form_tag admin_categories_path, method: :GET do %>
          <div class="active-cyan-4 mb-4">
            <%= text_field_tag :search, params[:search], class: "form-control",
              placeholder: t(".search") %>
          </div>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" id="example">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @categories %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row"><div class="text-center"><%= will_paginate %></div></div>
