<% provide(:title, t(".category")) %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> <%= t(".book_table") %>
      </div>
      <div class="panel">
        <%= link_to t(".create"), new_admin_category_path,
          class: "btn btn-md btn-warning form-control" %>
        <%= render "layouts/search" %>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" id="example">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @categories %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row"><div class="text-center"><%= will_paginate %></div></div>
