<tr>
  <td><%= request.book_name %></td>
  <td><%= request.user_name %></td>
  <td><%= request.quantity %></td>
  <td><%= l request.from_date, format: :long %></td>
  <td><%= l request.to_date, format: :long %></td>
  <td><%= render partial: "action", object: request, as: :request %></td>
</tr>
