<% if logged_in? && current_user.admin? %>
      </div>
      <div class="side-footer">
        <div class="footer text-center">
          <small>
            <%= link_to t(".home"), admin_root_path %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright"><%= link_to t(".home"), home_path %></span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><%= link_to t(".help"), help_path %></li>
            <li><%= link_to t(".about"), about_path %></li>
            <li><%= link_to t(".contact"), contact_path %></li>
          </ul>
        </div>
      </div>
      <!--end row -->
    </div>
    <!--end form container-->
  </footer>
  <!--end footer-->
<% end %>
